<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppInfo</key><dict><key>value</key><string>Библиотека компетенций ТМА: бесплатный список 53 компетенций ТМА для некоммерческого использования в Вашей организации. </string></dict>
    <key>Email</key><dict><key>value</key><string>Электронная почта</string></dict>
    <key>FollowUsOn</key><dict><key>value</key><string>Подпишитесь на нас в</string></dict>
    <key>Linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>Phone</key><dict><key>value</key><string>Телефон</string></dict>
    <key>TMAMethode</key><dict><key>value</key><string>Метод ТМА</string></dict>
    <key>Twitter</key><dict><key>value</key><string>Twitter</string></dict>
    <key>Website</key><dict><key>value</key><string>Сайт</string></dict>
    <key>action_settings</key><dict><key>value</key><string>Настройки</string></dict>
    <key>app_name</key><dict><key>value</key><string>Библиотека компетенций</string></dict>
    <key>btnCareerAdvice</key><dict><key>value</key><string>Рекомендации</string></dict>
    <key>btnCompetencyLibrary</key><dict><key>value</key><string>Библиотека компетенций</string></dict>
    <key>btnJobFinder</key><dict><key>value</key><string>Найти работу!</string></dict>
    <key>btn_contact</key><dict><key>value</key><string>Контакты</string></dict>
    <key>btn_facebook</key><dict><key>value</key><string>Facebook</string></dict>
    <key>btn_info</key><dict><key>value</key><string>Информация</string></dict>
    <key>btn_linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>btn_media</key><dict><key>value</key><string>Медиа</string></dict>
    <key>changeLanguage</key><dict><key>value</key><string>Изменить язык</string></dict>
    <key>contactText</key><dict><key>value</key><string>Каждый год Метод ТМА помогает более чем 75 000 человек развить таланты и по-новому взглянуть на развитие карьеры через понимание своих талантов и способностей.
        
        Метод ТМА – это интегрированная система по отбору, развитию и коучингу, которая публикуется в Голландии на 10 языках.
        
        Метод ТМА – это интегрированная система для оценки, управления и развития талантов, рекомендаций по карьере, управления компетенциями и обратной связи 360 градусов.
    </string></dict>
    <key>title_activity_app_info</key><dict><key>value</key><string>Информация</string></dict>
    <key>title_activity_careerAdvice</key><dict><key>value</key><string>Рекомендации</string></dict>
    <key>title_activity_competencyLibrary</key><dict><key>value</key><string>Библиотека компетенций</string></dict>
    <key>title_activity_contact</key><dict><key>value</key><string>Контакты</string></dict>
    <key>title_activity_facebook</key><dict><key>value</key><string>@string/btn_facebook</string></dict>
    <key>title_activity_jobFinder</key><dict><key>value</key><string>Найти работу!</string></dict>
    <key>title_activity_maps</key><dict><key>value</key><string>Карта</string></dict>
    <key>title_activity_media</key><dict><key>value</key><string>Медиа</string></dict>
</dict>
</plist>
