<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppInfo</key><dict><key>value</key><string>TMA Competentiebibliotheek: Gratis gebruik van de 53 TMA competenties voor niet-commercieel gebruik binnen uw organisatie.</string></dict>
    <key>Email</key><dict><key>value</key><string>E-mail</string></dict>
    <key>FollowUsOn</key><dict><key>value</key><string>Volg ons op</string></dict>
    <key>Linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>Phone</key><dict><key>value</key><string>Telefoon</string></dict>
    <key>TMAMethode</key><dict><key>value</key><string>TMA Methode</string></dict>
    <key>Twitter</key><dict><key>value</key><string>Twitter</string></dict>
    <key>Website</key><dict><key>value</key><string>Web</string></dict>
    <key>action_settings</key><dict><key>value</key><string>Instellingen</string></dict>
    <key>app_name</key><dict><key>value</key><string>Competentiebibliotheek</string></dict>
    <key>btnCareerAdvice</key><dict><key>value</key><string>Loopbaanadvies</string></dict>
    <key>btnCompetencyLibrary</key><dict><key>value</key><string>Competentiebibliotheek</string></dict>
    <key>btnJobFinder</key><dict><key>value</key><string>Vind Job!</string></dict>
    <key>btn_contact</key><dict><key>value</key><string>Contact</string></dict>
    <key>btn_facebook</key><dict><key>value</key><string>Facebook</string></dict>
    <key>btn_info</key><dict><key>value</key><string>Info</string></dict>
    <key>btn_linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>btn_media</key><dict><key>value</key><string>Media</string></dict>
    <key>changeLanguage</key><dict><key>value</key><string>Verander taal</string></dict>
    <key>contactText</key><dict><key>value</key><string>TMA Methode helpt jaarlijks meer dan 75.000 mensen hun talenten te ontwikkelen en nieuwe inzicht te geven over hun loopbaan door concreet inzicht te bieden in talenten en kwaliteiten.
        
        TMA Methode is een geïntegreerde systematiek voor selectie, ontwikkeling en coaching en wordt uitgegeven vanuit Utrecht in 10 talen.
        
        TMA Methode wordt aangeboden als een online service en wordt gebruikt voor talent- en competentie management, 360 graden feedback, loopbaancentra, TMA Talentenanalyses, MD trajecten, mobiliteitsvraagstukken,coaching en beroepskeuze. Voor zowel groepen als individuen.</string></dict>
    <key>title_activity_app_info</key><dict><key>value</key><string>Info</string></dict>
    <key>title_activity_careerAdvice</key><dict><key>value</key><string>Loopbaanadvies</string></dict>
    <key>title_activity_competencyLibrary</key><dict><key>value</key><string>Competentiebibliotheek</string></dict>
    <key>title_activity_contact</key><dict><key>value</key><string>Contact</string></dict>
    <key>title_activity_facebook</key><dict><key>value</key><string>@string/btn_facebook</string></dict>
    <key>title_activity_jobFinder</key><dict><key>value</key><string>Vind Job!</string></dict>
    <key>title_activity_maps</key><dict><key>value</key><string>Kaart</string></dict>
    <key>title_activity_media</key><dict><key>value</key><string>Media</string></dict>
</dict>
</plist>
