<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppInfo</key><dict><key>value</key><string>TMA能力库：您可以免费使用TMA在您公司的53项非商业性能力的能力列表。</string></dict>
    <key>Email</key><dict><key>value</key><string>电子邮件</string></dict>
    <key>FollowUsOn</key><dict><key>value</key><string>在跟随我们</string></dict>
    <key>Linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>Phone</key><dict><key>value</key><string>电话</string></dict>
    <key>TMAMethode</key><dict><key>value</key><string>TMA方法</string></dict>
    <key>Twitter</key><dict><key>value</key><string>推特</string></dict>
    <key>Website</key><dict><key>value</key><string>网站</string></dict>
    <key>action_settings</key><dict><key>value</key><string>设置</string></dict>
    <key>app_name</key><dict><key>value</key><string>TMA能力库</string></dict>
    <key>btnCareerAdvice</key><dict><key>value</key><string>职业建议</string></dict>
    <key>btnCompetencyLibrary</key><dict><key>value</key><string>TMA能力库</string></dict>
    <key>btnJobFinder</key><dict><key>value</key><string>找工作！</string></dict>
    <key>btn_contact</key><dict><key>value</key><string>联系</string></dict>
    <key>btn_facebook</key><dict><key>value</key><string>Facebook</string></dict>
    <key>btn_info</key><dict><key>value</key><string>信息</string></dict>
    <key>btn_linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>btn_media</key><dict><key>value</key><string>媒体</string></dict>
    <key>changeLanguage</key><dict><key>value</key><string>改变语言</string></dict>
    <key>contactText</key><dict><key>value</key><string>“每年TMA方法帮助超过7万5千人发展他们的才能，并通过了解他们的才能和能力给他们洞察他们的职业生涯。                                           TMA方法是一个用于选择，开发和辅导的集成系统，从荷兰出版，翻译成10个语言。                                                               TMA方法是一个评估，管理和发展人才，人才管理，职业建议，能力管理和360度反馈的综合系统。 无论对于一组人还是一个人。</string></dict>
    <key>title_activity_app_info</key><dict><key>value</key><string>信息</string></dict>
    <key>title_activity_careerAdvice</key><dict><key>value</key><string>职业建议</string></dict>
    <key>title_activity_competencyLibrary</key><dict><key>value</key><string>能力库</string></dict>
    <key>title_activity_contact</key><dict><key>value</key><string>联系</string></dict>
    <key>title_activity_facebook</key><dict><key>value</key><string>@string/btn_facebook</string></dict>
    <key>title_activity_jobFinder</key><dict><key>value</key><string>找工作！</string></dict>
    <key>title_activity_maps</key><dict><key>value</key><string>地图</string></dict>
    <key>title_activity_media</key><dict><key>value</key><string>媒体</string></dict>
</dict>
</plist>
