<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppInfo</key><dict><key>value</key><string>TMA Competency Library: Free to use TMA competency list of 53 competencies for non-commercial use within your company.</string></dict>
    <key>Email</key><dict><key>value</key><string>Email</string></dict>
    <key>FollowUsOn</key><dict><key>value</key><string>Follow us on</string></dict>
    <key>Linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>Phone</key><dict><key>value</key><string>Phone</string></dict>
    <key>TMAMethode</key><dict><key>value</key><string>TMA Methode</string></dict>
    <key>Twitter</key><dict><key>value</key><string>Twitter</string></dict>
    <key>Website</key><dict><key>value</key><string>Website</string></dict>
    <key>action_settings</key><dict><key>value</key><string>Settings</string></dict>
    <key>app_name</key><dict><key>value</key><string>TMA Competency Library</string></dict>
    <key>btnCareerAdvice</key><dict><key>value</key><string>Career Advice</string></dict>
    <key>btnCompetencyLibrary</key><dict><key>value</key><string>TMA Competency Library</string></dict>
    <key>btnJobFinder</key><dict><key>value</key><string>Find a job!</string></dict>
    <key>btn_contact</key><dict><key>value</key><string>Contact</string></dict>
    <key>btn_facebook</key><dict><key>value</key><string>Facebook</string></dict>
    <key>btn_info</key><dict><key>value</key><string>Info</string></dict>
    <key>btn_linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>btn_media</key><dict><key>value</key><string>Media</string></dict>
    <key>changeLanguage</key><dict><key>value</key><string>Change language</string></dict>
    <key>contactText</key><dict><key>value</key><string>On a yearly basis TMA Method helps more than 75,000 people develop their talents and gives them new insight into their careers by understanding their talents and abilities.
        
        TMA Method is an integrated system for the selection, development and coaching and is published from Holland in 10 languages.
        
        TMA Method is an integrated system for assessing, managing and developing talents, talent management, career advice, competency management and 360 degree feedback. Both for teams and individuals.</string></dict>
    <key>title_activity_app_info</key><dict><key>value</key><string>Info</string></dict>
    <key>title_activity_careerAdvice</key><dict><key>value</key><string>Career Advice</string></dict>
    <key>title_activity_competencyLibrary</key><dict><key>value</key><string>Competency Library</string></dict>
    <key>title_activity_contact</key><dict><key>value</key><string>Contact</string></dict>
    <key>title_activity_facebook</key><dict><key>value</key><string>Facebook</string></dict>
    <key>title_activity_jobFinder</key><dict><key>value</key><string>Find Job!</string></dict>
    <key>title_activity_maps</key><dict><key>value</key><string>Map</string></dict>
    <key>title_activity_media</key><dict><key>value</key><string>Media</string></dict>
</dict>
</plist>
