<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppInfo</key><dict><key>value</key><string>Bibliothèque de compétences TMA: C\'est gratuit d\'utiliser la liste de compétences TMA comprenant 53 compétences pour une utilisation non commerciale au sein de votre entreprise.</string></dict>
    <key>Email</key><dict><key>value</key><string>E-mail</string></dict>
    <key>FollowUsOn</key><dict><key>value</key><string>Suivez-nous sur</string></dict>
    <key>Linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>Phone</key><dict><key>value</key><string>Téléphone</string></dict>
    <key>TMAMethode</key><dict><key>value</key><string>TMA Méthode</string></dict>
    <key>Twitter</key><dict><key>value</key><string>Twitter</string></dict>
    <key>Website</key><dict><key>value</key><string>Site</string></dict>
    <key>action_settings</key><dict><key>value</key><string>Réglages</string></dict>
    <key>app_name</key><dict><key>value</key><string>Bibliothèque de compétences</string></dict>
    <key>btnCareerAdvice</key><dict><key>value</key><string>Сonseiller en carrière</string></dict>
    <key>btnCompetencyLibrary</key><dict><key>value</key><string>Bibliothèque de compétences</string></dict>
    <key>btnJobFinder</key><dict><key>value</key><string>Trouver le travail!</string></dict>
    <key>btn_contact</key><dict><key>value</key><string>Contact</string></dict>
    <key>btn_facebook</key><dict><key>value</key><string>Facebook</string></dict>
    <key>btn_info</key><dict><key>value</key><string>Info</string></dict>
    <key>btn_linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>btn_media</key><dict><key>value</key><string>Médias</string></dict>
    <key>changeLanguage</key><dict><key>value</key><string>Modifier la langue</string></dict>
    <key>contactText</key><dict><key>value</key><string>Chaque année, la méthode TMA aide plus de 75 000 personnes à développer leurs talents et leur donne un nouvel aperçu de leur carrière en comprenant leurs talents et leurs capacités. La méthode TMA est un système intégré de sélection, de développement et de coaching des Pays-Bas; et elle est éditée en 10 langues. La méthode TMA est un système intégré d'évaluation, de gestion et de développement des talents, de gestion des talents, de conseils professionnels, de gestion des compétences et de retour d'information à 360 degrés. Pour les équipes et les individus.</string></dict>
    <key>title_activity_app_info</key><dict><key>value</key><string>Info</string></dict>
    <key>title_activity_careerAdvice</key><dict><key>value</key><string>Сonseiller en carrière</string></dict>
    <key>title_activity_competencyLibrary</key><dict><key>value</key><string>Bibliothèque de compétences</string></dict>
    <key>title_activity_contact</key><dict><key>value</key><string>Contact</string></dict>
    <key>title_activity_facebook</key><dict><key>value</key><string>@string/btn_facebook</string></dict>
    <key>title_activity_jobFinder</key><dict><key>value</key><string>Trouver le travail!</string></dict>
    <key>title_activity_maps</key><dict><key>value</key><string>Carte</string></dict>
    <key>title_activity_media</key><dict><key>value</key><string>Médias</string></dict>
</dict>
</plist>
