<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AppInfo</key><dict><key>value</key><string>Biblioteka kompetencji TMA: bezpłatna lista 53 kompetencji TMA na użytek niekomercyjny w waszym przedsiębiorstwie.</string></dict>
    <key>Email</key><dict><key>value</key><string>Email</string></dict>
    <key>FollowUsOn</key><dict><key>value</key><string>Śledź nas na</string></dict>
    <key>Linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>Phone</key><dict><key>value</key><string>Telefon</string></dict>
    <key>TMAMethode</key><dict><key>value</key><string>Metoda TMA</string></dict>
    <key>Twitter</key><dict><key>value</key><string>Twitter</string></dict>
    <key>Website</key><dict><key>value</key><string>Strona internetowa</string></dict>
    <key>action_settings</key><dict><key>value</key><string>Ustawienia</string></dict>
    <key>app_name</key><dict><key>value</key><string>Biblioteka kompetencji</string></dict>
    <key>btnCareerAdvice</key><dict><key>value</key><string>Doradztwo do spraw kariery</string></dict>
    <key>btnCompetencyLibrary</key><dict><key>value</key><string>Biblioteka kompetencji</string></dict>
    <key>btnJobFinder</key><dict><key>value</key><string>Znajdź pracę!</string></dict>
    <key>btn_contact</key><dict><key>value</key><string>Kontakt</string></dict>
    <key>btn_facebook</key><dict><key>value</key><string>Facebook</string></dict>
    <key>btn_info</key><dict><key>value</key><string>Info</string></dict>
    <key>btn_linkedin</key><dict><key>value</key><string>LinkedIn</string></dict>
    <key>btn_media</key><dict><key>value</key><string>Media</string></dict>
    <key>changeLanguage</key><dict><key>value</key><string>Zmień język</string></dict>
    <key>contactText</key><dict><key>value</key><string>Każdego roku metoda TMA pomaga ponad 75.000 ludziom odkrywać swoje talenty, dostarcza ona także innych możliwości spojrzenia na swoją karierę dzięki zrozumieniu swoich talentów i zdolności.
        Metoda TMA to zintegrowany system wyboru, rozwoju, coachowania pochodzący z Holandii, wydany w dziesięciu językach.
        
        Metoda TMA to zintegrowany system oceny, zarządzania i rozwoju talentów, doradztwa zawodowego, zarządzania kompetencjami. Zalicza się do niego także Feedback 360-stopniowy. Jest przeznaczony zarowno dla pojedyńczych osób, jak i dla teamów. </string></dict>
    <key>title_activity_app_info</key><dict><key>value</key><string>Info</string></dict>
    <key>title_activity_careerAdvice</key><dict><key>value</key><string>Doradztwo do spraw kariery</string></dict>
    <key>title_activity_competencyLibrary</key><dict><key>value</key><string>Biblioteka kompetencji</string></dict>
    <key>title_activity_contact</key><dict><key>value</key><string>Kontakt</string></dict>
    <key>title_activity_facebook</key><dict><key>value</key><string>@string/btn_facebook</string></dict>
    <key>title_activity_jobFinder</key><dict><key>value</key><string>Znajdź pracę!</string></dict>
    <key>title_activity_maps</key><dict><key>value</key><string>Mapa</string></dict>
    <key>title_activity_media</key><dict><key>value</key><string>Media</string></dict>
</dict>
</plist>
